The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [327]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!
df = pd.read_csv('data/nobel.csv')
df.head()

   year    category  ... death_city death_country
0  1901   Chemistry  ...     Berlin       Germany
1  1901  Literature  ...   Châtenay        France
2  1901    Medicine  ...    Marburg       Germany
3  1901       Peace  ...     Heiden   Switzerland
4  1901       Peace  ...      Paris        France

[5 rows x 18 columns]

In [328]:
df.columns

Index(['year', 'category', 'prize', 'motivation', 'prize_share', 'laureate_id',
       'laureate_type', 'full_name', 'birth_date', 'birth_city',
       'birth_country', 'sex', 'organization_name', 'organization_city',
       'organization_country', 'death_date', 'death_city', 'death_country'],
      dtype='object')

In [329]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  1000 non-null   int64
 1   category              1000 non-null   object
 2   prize                 1000 non-null   object
 3   motivation            912 non-null    object
 4   prize_share           1000 non-null   object
 5   laureate_id           1000 non-null   int64
 6   laureate_type         1000 non-null   object
 7   full_name             1000 non-null   object
 8   birth_date            968 non-null    object
 9   birth_city            964 non-null    object
 10  birth_country         969 non-null    object
 11  sex                   970 non-null    object
 12  organization_name     736 non-null    object
 13  organization_city     735 non-null    object
 14  organization_country  735 non-null    object
 15  death_date            596 non-null    object
 16  death_city            579 non-null    object
 17  death_country         585 non-null    object
dtypes: int64(2), object(16)
memory usage: 140.8+ KB

## What is the most commonly awarded gender and birth country?

### Store your answers as string variables top_gender and top_country.

In [330]:
top_gender = df['sex'].value_counts().idxmax()
top_country = df['birth_country'].value_counts().idxmax()
print("\n The gender with the most Nobel laureates is :", top_gender)
print(" The most common birth country of Nobel laureates is :", top_country)

 The gender with the most Nobel laureates is : Male
 The most common birth country of Nobel laureates is : United States of America

## Which decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories?

### Store this as an integer called max_decade_usa.

In [331]:
df['decade'] = (df['year'] // 10) * 10

total_per_decade = df['decade'].value_counts().sort_index()

us_per_decade = df[df['birth_country'] == "United States of America"]['decade'].value_counts().sort_index()

ratio = us_per_decade / total_per_decade

max_decade_usa = int(ratio.idxmax())

print(f"\n Decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories : {max_decade_usa}")

 Decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories : 2000

## Which decade and Nobel Prize category combination had the highest proportion of female laureates?

### Store this as a dictionary called max_female_dict where the decade is the key and the category is the value. There should only be one key:value pair.

In [332]:
female_ratio = df.groupby(['decade', 'category']).agg(
    female_ratio=('sex', lambda x: (x == 'Female').mean())
)

female_ratio = female_ratio.reset_index()

max_row = female_ratio.loc[female_ratio['female_ratio'].idxmax()]

max_female_dict = {int(max_row['decade']): max_row['category']}

print( f"\n Decade and Nobel Prize category combination had the highest proportion of female laureates : {max_female_dict}")

 Decade and Nobel Prize category combination had the highest proportion of female laureates : {2020: 'Literature'}

## Who was the first woman to receive a Nobel Prize, and in what category?

### Save your string answers as first_woman_name and first_woman_category.

In [333]:
female = df[df['sex'] == 'Female']

first_woman = female.loc[female['year'].idxmin()]

first_woman_first_name = first_woman_name.split(' ')[0]
first_woman_category = first_woman['category']

print(f"\n The first woman to win a Nobel Prize was {first_woman_name}, in the category of {first_woman_category}.")

 The first woman to win a Nobel Prize was Marie Curie, née Sklodowska, in the category of Physics.

## Which individuals or organizations have won more than one Nobel Prize throughout the years?

### Store the full names in a list named repeat_list.

In [334]:
count = df['full_name'].value_counts()

repear_list = count[count > 1].index.tolist()
print(f"\n The individuals or organizations have won more than one Nobel Prize throughout the years are : {repear_list}")

 The individuals or organizations have won more than one Nobel Prize throughout the years are : ['Comité international de la Croix Rouge (International Committee of the Red Cross)', 'Linus Carl Pauling', 'John Bardeen', 'Frederick Sanger', 'Marie Curie, née Sklodowska', 'Office of the United Nations High Commissioner for Refugees (UNHCR)']